<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <p> Iniciaste sesión como: {{usuario}}

            </p>

        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/admin/organizador" class="btn btn-primary">Volver
            </a>
            <a href="/admin/login/logout" class="btn btn-sm btn-danger"> <i class="fa fa-sign-out"></i>Cerrar sesiòn
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 text-left">
            <h2 style="color: white;"> Listado de Clases</h2>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/horarios/agregarClase" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a>

        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table" id="tablaAdmin">
            <thead>
                <tr>
                    <th scope="col">Horario</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                </tr>
            </thead>
            <tbody>
                {{#each horarios}}
                <tr>
                    <th scope="row">{{horario}}</th>
                    <td>{{dia1}}</td>
                    <td>{{dia2}}</td>
                    <td>{{dia3}}</td>
                    <td>{{dia4}}</td>
                    <td>{{dia5}}</td>
                    <td>{{dia6}}</td>
                    <td>
                        <a href="/admin/horarios/modificarhorario/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil"></i></a>
                        <a href="/admin/horarios/eliminar/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>