<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <p> Hola {{usuario}}
               
            </p>
            
        </div>
        <div class="col-2">
             <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesiòn
                    <i class="fa fa-sign-out"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 text-left">
            <h2 style="color: white;"> Listado Novedades</h2>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a>

        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table" id="tablaAdmin">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Cuerpo</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                {{#each novedades}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td>{{cuerpo}}</td>
                    <td class="text-center">
                        {{fecha}}
                        <a href="/admin/novedades/modificar/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil"></i></a>
                        <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>