<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <p> Iniciaste sesión como: {{usuario}}

            </p>

        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/admin/organizador" class="btn btn-primary">Volver
            </a>
            <a href="/admin/login/logout" class="btn btn-sm btn-danger"> <i class="fa fa-sign-out"></i>Cerrar sesiòn
            </a>
        </div>
        <div class="col-2">

        </div>
    </div>
    <div class="row">
        <div class="col-10 text-left">
            <h2 style="color: white;"> Listado Novedades</h2>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a>

        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table" id="tablaAdmin">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Cuerpo</th>
                    <th scope="col">Imagen</th>
                    <th scope="col" class="text-center">Fecha</th>
                </tr>
            </thead>
            <tbody>
                {{#each novedades}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td>{{cuerpo}}</td>
                    <td>{{{imagen}}}</td>
                    <td class="text-center">
                        {{fecha}}
                    </td>
                    <td>
                        <a href="/admin/novedades/modificar/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil"></i></a>
                        <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>